{% include "base.html" %}
{% load static %}
{% block content %}
<main class="pt-5">
  <div class="container">
    <h1 class="h5">Shopping cart</h1>
    <hr />
    <br />
    <div class="row mb-4 border product-item">
      <div class="col-md-3 col-lg-2 order-md-first bg-light">
        <img
          class="img-fluid mx-auto d-block"
          width="200px"
          alt="Responsive image"
          src=""
        />
      </div>
      <div class="col-md-9 col-lg-10 ps-md-3 ps-lg-10">
        <a
          href=""
          class="text-info text-decoration-none"
        >
          <h1 class="h5 pt-2">title</h1>
        </a>
        <div class="border">
          <div class="col border-bottom">
            <div class="row p-3">
              <div class="col-6">Product</div>
              <div class="col-6 text-end">
                <span class="h6 fw-bold">price</span>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="row p-3">
              <div class="col-12">
                <label for="select">Qty</label>
                &nbsp;
                <select id="id">
                  <option selected>selected</option>
                  <option value="">1</option>
                  <option value="">2</option>
                  <option value="">3</option>
                  <option value="">4</option>
                </select>
                <br />
                <br />
                <button
                  type="button"
                  data-index="id"
                  class="btn btn-primary btn-sm update-button"
                >
                  Update
                </button>
                &nbsp;
                <button
                  type="button"
                  class="btn btn-danger btn-sm delete-button"
                  data-index="id"
                >
                  Delete
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 text-end">
      <div class="h6 fw-bold">
        Total: $
        <div id="total" class="d-inline-flex">
          total_price
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
</main>
<script>
    $(document).on('click', '.delete-button', function(e){
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '#',
            data: {
                product_id: $(this).data('index'),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
            success: function(response){
                document.getElementById('lblCartCount').textContent = response.qty
                document.getElementById('total').textContent = response.total

                location.reload()
            },
            error: function(error, status){
                console.log(error)
            }
        })
    });
    $(document).on('click', '.update-button', function(e){
        e.preventDefault();
        var product_id = $(this).data('index')
        $.ajax({
            type: 'POST',
            url: '#',
            data: {
                product_id: $(this).data('index'),
                product_qty: $('#select'+product_id+ ' option:selected').text(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
            success: function(response){
                document.getElementById('lblCartCount').textContent = response.qty
                document.getElementById('total').textContent = response.total
                location.reload()
            },
            error: function(error, status){
                console.log(error)
            }
        })
    });
</script>
{% endblock %}